.feature-card h3 {
    color: #00e5ff;
    margin-bottom: 10px;
}

.feature-card p {
    color: #91afbf;
    font-size: 14px;
}

/* ABOUT */

.about {
    padding: 100px 7%;
    text-align: center;
    background:
        radial-gradient(
            circle at center,
            rgba(0, 190, 255, 0.08),
            transparent 45%
        ),
        #06121f;
}

.about p {
    max-width: 700px;
    margin: auto;
    color: #9bb8c9;
    font-size: 17px;
}

/* FOOTER */

footer {
    padding: 30px;
    text-align: center;
    background: #040d16;
    border-top: 1px solid rgba(0, 220, 255, 0.12);
    color: #688394;
    font-size: 14px;
}

/* MOBILE */

@media (max-width: 900px) {

    .feature-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 650px) {

    .navbar {
        padding: 18px 5%;
    }

    nav {
        gap: 12px;
    }

    nav a:not(.panel-btn) {
        display: none;
    }

    .hero {
        min-height: 650px;
        padding: 60px 5%;
    }

    .hero h1 {
        font-size: 45px;
    }

    .hero p {
        font-size: 16px;
    }

    .feature-grid {
        grid-template-columns: 1fr;
    }

    .features h2,
    .about h2 {
        font-size: 30px;
    }
}
